name: Build

on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  prepare-versions:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - id: set-matrix
        name: Prepare
        run: echo "matrix=$(node -p "JSON.stringify(require('./package.json').peerDependencies['cypress'].split(' || '))")" >> $GITHUB_OUTPUT
      - run: npm -v

  test:
    needs: prepare-versions
    runs-on: ubuntu-latest
    container:
      image: cypress/browsers:latest
    strategy:
      fail-fast: false
      matrix:
        cypress-version: ${{fromJson(needs.prepare-versions.outputs.matrix)}}
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Checkout
        uses: actions/checkout@v5
      - name: Cache NPM modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: npm-linux@${{ matrix.cypress-version }}
      - name: Cache Cypress binaries
        uses: actions/cache@v4
        with:
          path: ~/.cache/Cypress
          key: cypress-linux@${{ matrix.cypress-version }}
      - name: Change owner
        run: "chown root: ."
      - name: Until executable
        run: "chmod +x ./until"
      - name: Dependencies
        env:
          CYPRESS_INSTALL_BINARY: "0"
        run: |
          npm install --engine-strict && \
          npm install --no-save cypress@${{ matrix.cypress-version }} && \
          env -u CYPRESS_INSTALL_BINARY npx cypress install
      - name: Build
        run: npm run build
      - name: Test
        run: ./until
      - name: Versions
        run: |
          npx cypress --version
          node --version
          npm --version
